.formField {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  min-height: 70px;
}
.inputField {
  position: relative;
}
.inputField label {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0px 10px;
  cursor: text;
  font-weight: 500;
  transition: all 1s ease;
}
.inputField input {
  padding: 5px 15px 0 15px;
  height: 50px;
  width: 100%;
  outline: none;
}
.labelToTop {
  top: -3px !important;
  left: 20px !important;
  scale: 0.9;
  opacity: 0.8;
}
