.container {
  max-width: 700px;
  height: 500px;
  border: 3px solid rgb(137, 137, 231);
  margin: 130px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}
.container img {
  width: 300px;
}
.container > * {
  padding: 20px;
}
.Link {
  display: block;
  background-color: red;
  text-align: center;
  width: 60px;
  height: 30px;
  margin: 20px auto;
  border-radius: 7px;
}
@media (max-width: 830px) {
  .container img {
    width: 200px;
  }
  .container {
    max-width: 500px;
  }
}

@media (max-width: 470px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
}
